<div class="table-responsive">
  <table class="table table-striped table-hover border">
      <thead class="table-dark">
          <tr>
              <th scope="col">Date</th>
              {% if exercise_type == "machine" %}
                  <th scope="col">Weight</th>
                  <th scope="col">Reps</th>
              {% elif exercise_type == "cardio" %}
                  <th scope="col">Distance</th>
              {% endif %}
              <th scope="col">Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for exercise in exercises %}
          <tr>
              <td>{{ moment(exercise.date, local=True).format('LL') }}</td>
              {% if exercise_type == "machine" %}
                  <td>{{ exercise.weight ~ ' lbs' if exercise.weight is not none else '' }}</td>
                  <td>{{ exercise.reps or "" }}</td>
              {% elif exercise_type == "cardio" %}
                  <td>{{ exercise.distance ~ ' mi' if exercise.distance is not none else '' }}</td>
              {% endif %}
              <td>
                  <a href="{{ url_for('edit_exercise', workout_id=workout_id, exercise_id=exercise.id) }}" class="btn btn-primary btn-sm">
                      Edit
                  </a>
                  <a href="{{ url_for('delete_exercise', workout_id=workout_id, exercise_id=exercise.id) }}" class="btn btn-danger btn-sm">
                      Delete
                  </a>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>