{% for workout in workouts %}
  {% for machine in workout.machine_exercises %}
    <div>
      <p>
        Machine: <b>{{ machine["name"] }}</b>, Weight/Reps: {{ machine["weight"]
        }}/{{ machine["reps"] }}, Date {{workout.date}}
      </p>
    </div>
  {% endfor %} 
  {% for cardio in workout.cardio_exercises %}
    <div>
      <p>
        Cardio: <b>{{ cardio["name"] }}</b>, Distance(miles): {{ cardio["distance"]
        }}, Date {{workout.date}}
      </p>
    </div>
  {% endfor %}
{% endfor %}