{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}

{% set exercise_icons = {
  'machine': 'fa-solid fa-weight-hanging',
  'free_weight': 'fas fa-dumbbell',
  'bodyweight': 'fa-solid fa-child-reaching',
  'cardio': 'fas fa-person-running'
} %}

{% set title_prefix = "Editing " if action == "edit" else "" %}
<h1>
  <i class="{{ exercise_icons[exercise_type] }}"></i> 
  {{ title_prefix }}{{ workout_name }} 
</h1>

{{ wtf.quick_form(form) }}

{# Only include history and pagination if we're NOT in edit mode #}
  {% if action != 'edit' %}
    {% include '_history.html' %}
    <nav aria-label="Post navigation">
      <ul class="pagination">
        <li class="page-item{% if not prev_url %} disabled{% endif %}">
          <a class="page-link" href="{{ prev_url }}">
            <span aria-hidden="true">&larr;</span>Newer
          </a>
        </li>
        <li class="page-item{% if not next_url %} disabled{% endif %}">
          <a class="page-link" href="{{ next_url }}">
            Older <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>
  {% endif %}
 
  <a href="{{ url_for('main.workouts') }}">Back to Workouts</a>

<script>
  const exerciseTypeSelect = "{{ exercise_type }}";
  const distance = document.getElementById("distance_container");
  const weight = document.getElementById("weight_container");
  const count = document.getElementById("count_container");

  function updateFields() {
      const value = exerciseTypeSelect;

      if (value === "cardio") {
        distance.style.display = "block";
        weight.style.display = "none";
        count.style.display = "none";

      } else if (value === "bodyweight") {
        weight.style.display = "none";
        count.style.display = "block";
        distance.style.display = "none";
        
      } else {
        weight.style.display = "block";
        count.style.display = "block";
        distance.style.display = "none";
      } 
    }

    // Run once on page load
    updateFields();

</script>

{% endblock %}