{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<h1>{{ action }} Workout</h1>
{{ wtf.quick_form(form) }}

<script>
  const exerciseTypeSelect = document.getElementById("exercise_type");
  const distance = document.getElementById("distance_container");
  const reps = document.getElementById("reps_container");
  const weight = document.getElementById("weight_container");

  function updateFields() {
      const value = exerciseTypeSelect.value;

      if (value === "machine") {
        weight.style.display = "block";
        reps.style.display = "block";
        distance.style.display = "none";
      } else if (value === "cardio") {
        weight.style.display = "none";
        reps.style.display = "none";
        distance.style.display = "block";
      } 
    }

    // Run once on page load
    updateFields();

    // Update whenever selection changes
    exerciseTypeSelect.addEventListener("change", updateFields);

</script>

{% endblock %}